body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  background-color: #facc15;
  color: #111;
  padding: 1rem;
  border-radius: 10px;
}

.note {
  background-color: #facc15;
  color: #111;
  padding: 1rem;
  border-radius:;
}
.footer {
  margin-top: auto;
}
